.btn {
  @apply inline-block rounded-lg border px-5 py-2 font-semibold transition;
}

.btn-primary {
  @apply bg-emerald-500 text-white;
}

.btn-outline-primary {
  @apply border-emerald-500 bg-emerald-100 hover:bg-emerald-500 hover:text-white;
}

.btn-secondary {
  @apply bg-red-500 text-white;
}

.btn-outline-secondary {
  @apply border-red-500 bg-red-100 hover:bg-red-500 hover:text-white;
}
