.btn {
  @apply inline-flex  rounded-xl border-4 px-3 font-semibold transition;
}

.btn-primary {
  @apply bg-emerald-500 text-white;
}

.btn-outline-primary {
  @apply border-emerald-500 bg-emerald-100 hover:bg-emerald-500 hover:text-white;
}

.btn-secondary {
  @apply bg-red-500 text-white;
}

.btn-outline-secondary {
  @apply border-red-500 bg-red-100 hover:bg-red-500 hover:text-white;
}

.btn-third {
  @apply bg-yellow-500 text-white;
}

.btn-outline-third {
  @apply border-yellow-500 bg-yellow-100 hover:bg-yellow-500 hover:text-white;
}

.btn-fourth {
  @apply bg-blue-500 text-white;
}

.btn-outline-fourth {
  @apply border-blue-500 bg-blue-100 hover:bg-blue-500 hover:text-white;
}

.btn-fifth {
  @apply bg-purple-500 text-white;
}

.btn-outline-fifth {
  @apply border-purple-500 bg-purple-100 hover:bg-purple-500 hover:text-white;
}

