name: Deploy static site to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Clean docs folder
        run: rm -rf docs && mkdir docs

      - name: Copy static site to docs
        run: cp -R inov-site/* docs/

      - name: Disable Jekyll
        run: touch docs/.nojekyll

      - name: Commit and push changes
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add docs
          git commit -m "Deploy static site" || echo "No changes to commit"
          git push